<h1><%= @building.street_address %></h1>

<p>
  <strong>Street address:</strong>
  <%= @building.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @building.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @building.state %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @building.postal_code %>
</p>
